@charset "utf-8";
.d{
	position: absolute;
	left: 75%;
}
.c{
	position: absolute;
	left :75%;
}

.b{
	position: absolute;
	left :53%;
}
.a{
	position: absolute;
	left :30%;
}
.m{
	position: absolute;
	left :7%;
}